@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
body {
  background: white;
  color: #333;
}

.inner {
  width: 1200px;
  margin: auto;
  background: #fc9;
  height: 700px;
}

header {
  position: relative;
  height: 100px;
  background: red;
  padding-left: 100px;
  padding-top: 30px;
}

header h1 {
  width: 200px;
  height: 40px;
}
header h1 a {
  display: block;
  height: 100px;
}

nav {
  top: 40px;
  right: 0;
  position: absolute;
}
nav > ul {
  display: flex;
}

nav > ul > li > a {
  display: block;
  width: 120px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  color: #ceb398;
  padding: 10px;
}
nav > ul > li:hover > a {
  background: #ceb398;
  color: black;
}
.slide {
  position: relative;
  height: 300px;
  background: #369;
  overflow: hidden;
}
.slide ul {
  top: 0;
  left: 0;
  height: 900px;
  position: absolute;
}
.slide ul li {
  position: relative;
  width: 1200px;
  height: 300px;
}
.slide ul li a {
  display: block;
  height: 100%;
}
.slide ul li.s1 {
  background: url(../img/1.jpg) no-repeat left center/cover;
}
.slide ul li.s2 {
  background: url(../img/2.jpg) no-repeat left center/cover;
}
.slide ul li.s3 {
  background: url(../img/3.jpg) no-repeat left center/cover;
}
.slide ul li p {
  padding: 20px;
  font-weight: bold;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  background: #ceb;
}
.con {
  display: flex;
  height: 200px;
  background: #fc9;
}
.con article {
  width: 400px;
  height: 100%;
}
.con1 {
  background: pink;
}
.con1 .tapmenu li {
  width: 150px;
  display: inline-block;
  background: #fcf0ff;
}
.con1 .tapmenu li.on {
  color: #fff;
  background: #ceb398;
}
.con1 .tapmenu li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.con .tabcon {
  background: #ceb398;
  height: 150px;
  padding: 10px;
}
.notice th {
  text-align: left;
  color: #fff;
}
.notice td {
  color: #fff;
}
.notice tr {
  border-bottom: 1px dashed #fff;
}
.notice a{
  display: block;
}
.con2 {
  padding: 10px;
}
.con2 a {
  display: block;
  height: 100%;
  border-radius: 30px;
  background: skyblue;
  background: url(../img/1.jpg) center/cover;
  text-align: center;
  overflow: hidden;
}
.con2 div {
  background: rgba(206, 179, 152, 8);
  height: 100%;
}
.con2 h1 {
  margin-bottom: 20px;
}
.con2 p {
  background: #333;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin-top: 20px;
}
.con3 {
  background: blueviolet;
}

.footer {
  height: 100px;
  background: black;
}
