@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
body {
  background: white;
  color: #333;
}

.inner {
  width: 1200px;
  margin: auto;
  background: #fc9;
  height: 700px;
}

header {
  position: relative;
  height: 100px;
  background: red;
  padding-left: 100px;
  padding-top: 30px;
}

header h1 {
  width: 200px;
  height: 40px;
}
header h1 a {
  display: block;
  height: 100px;
}

nav {
  z-index: 5;
  top: 40px;
  right: 0;
  position: absolute;
}
nav > ul {
  display: flex;
}

nav > ul > li > a {
  display: block;
  width: 120px;
  background: #fff;
  text-align: center;
  font-weight: bold;
  color: #ceb398;
  padding: 10px;
}
nav > ul > li:hover > a {
  background: #ceb398;
  color: black;
}
.sub {
  display: none;
}
.sub li {
  background: #fff;
  display: block;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
.sub li a:hover {
  background: #ceb398;
  color: black;
}
.slide {
  position: relative;
  height: 300px;
  background: #369;
  overflow: hidden;
}
.slide ul {
  top: 0;
  left: 0;
  height: 900px;
  position: absolute;
}
.slide ul li {
  position: relative;
  width: 1200px;
  height: 300px;
}
.slide ul li a {
  display: block;
  height: 100%;
}
.slide ul li.s1 {
  background: url(../img/1.jpg) no-repeat left center/cover;
}
.slide ul li.s2 {
  background: url(../img/2.jpg) no-repeat left center/cover;
}
.slide ul li.s3 {
  background: url(../img/3.jpg) no-repeat left center/cover;
}
.slide ul li p {
  padding: 20px;
  font-weight: bold;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
  background: #ceb;
}
.con {
  display: flex;
  height: 200px;
  background: #fc9;
}
.con article {
  width: 400px;
  height: 100%;
}
.con1 {
}
.con1 .tapmenu li {
  width: 150px;
  display: inline-block;
  background: #fcf0ff;
}
.con1 .tapmenu li.on {
  color: #fff;
  background: #ceb398;
}
.con1 .tapmenu li a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
.con .tabcon {
  background: #ceb398;
  height: 150px;
  padding: 10px;
}

.notice th {
  text-align: left;
  color: #fff;
}
.notice td {
  color: #fff;
}
.notice tr {
  border-bottom: 1px dashed #fff;
}
.notice a {
  padding: 5px;
  display: block;
}
.con .gall {
  padding-top: 30px;
  display: none;
}
.gall ul {
  text-align: center;
}
.gall ul li {
  display: inline-block;
}
.gall img {
  height: 100px;
  width: 120px;
}
.con2 {
  padding: 10px;
}
.con2 a {
  display: block;
  height: 100%;
  border-radius: 30px;
  background: url(../img/1.jpg) center/cover;
  text-align: center;
  overflow: hidden;
}
.con2 div {
  background: rgba(206, 179, 152, 8);
  height: 100%;
  padding-top: 20px;
}
.con2 h2 {
  margin-bottom: 20px;
}
.con2 p {
  background: #333;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  margin-top: 20px;
}
.con3 {
  padding: 10px;
}
.con3 h2 {
  color: #ceb398;
  margin-bottom: 20px;
}
.con3 ul {
  text-align: center;
}
.con3 ul li:first-child {
  margin-left: 0;
}
.con3 ul li {
  display: inline-block;
}
.con3 ul li a {
  display: block;
  height: 100%;
}
.con3 ul li p {
  width: 80px;
  height: 80px;
  background: #ceb398;
  text-align: center;
  border-radius: 20px;
}
.con3 ul li img {
  contain: content;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 80px;
  height: 40px;
}
.con3 ul li span {
  display: block;
  margin-top: 10px;
}

.footer {
  position: relative;
  height: 100px;
  background: #333;
  padding-top: 25px;
}
.flogo a img {
  width: 120px;
  height: 50px;
}

.footer .fsns {
  top: 30px;
  right: 30px;
  position: absolute;
}

.footer .fsns li {
  display: inline-block;
}
.footer .fsns li a {
  display: block;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  padding-top: 8px;
  text-align: center;
}
.footer .fsns li a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-top: 8px;
  text-align: center;
}

.footer .fsns li:nth-child(1) a {
  background: #3f5b9a;
}

.footer .fsns li:nth-child(2) a {
  background: #47b789;
}

.footer .fsns li:nth-child(3) a {
  background: #fff;
}

.footer .fcopy {
  position: absolute;
  left: 300px;
  top: 30px;
  color: #fff;
  font-size: 13px;
}

.popup {
  border: 1px solid #333;
  z-index: 999;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 30px;
  width: 500px;
  display: none;
}
.popup h2 {
  color: #ceb398;
  margin-bottom: 20px;
}
.popup > p > img {
  width: 100%;
  height: 400px;
}
.popup .text {
  margin-bottom: 20px 0;
}
.popup button {
  text-align: right;
}
